html, body {
	padding: 0;
	margin: 0;
}

.container {
	background-color: #333;
	padding: 13px;
	margin: 0px;
}

.jumbotron {
	background: url("https://www.homeadvisor.com/images/consumer/hhi/hero-photos/city/LosAngeles.jpg") no-repeat center;
	background-size: cover;
	height: 850px;
	overflow: auto;
}

.nav li {
	list-style-type: none;
	display: inline;
	padding: 0 30px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
}

.main {
	position: relative;
	top: 180px;
	text-align: center;
}

.btn-main {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #333;
	padding: 18px 20px;
}

h1 {
	font-family: 'Acme', sans-serif;
	font-size: 80px;
	font-style: italic;
	text-transform: uppercase;
	color: #fff;
}

h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 48px;
	font-style: italic;
	color: #333;
	position: relative;
	bottom: 190px;
	right: 3px;
}

.btn-main:hover {
	position: relative;
	top: 3px;
	background-color: #000019;
}

.listlink {
	color: #fff;
	text-decoration: none;
}

.listlink:hover {
	font-style: normal;
	color: #cf1020;
}

.listlink:active {
	font-style: normal;
	color: #cf1020;
}

/*
.listlink:visited {
	font-style: normal;
	color: #32cd32;
}
*/